.contact-page {
    height: 85vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://assets.hongkiat.com/uploads/beautiful-minimalist-desktop-wallpapers/4k/original/01.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    @media (min-height: 600px) {
        min-height: 600px;
    }

    .contact-page-header {
        display: flex;
        flex-direction: column;
        background-color: cadetblue;
        min-width: 600px;
        min-height: 100px;
        align-items: center;
    }

    .contact-page-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .form-input {
            width: 600px;
        }

        .contact-page-button {
            margin: 20px auto;
        }

        .contact-page-information-message {
            width: 600px;
        }
    }

    .contact-page-footer {
        background-color: white;
        height: 200px;
        width: 100vw;
    }
}